{
  "presets": [
    "es2015",
    "react",
    "react-hmre"
  ],
  "plugins": [
    "transform-class-properties",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "constants": "./src/constants.js",
        "assets": "./assets",
        "tests-mocks": "./mocks",
        "actions": "./src/store/actions",
        "helper": "./src/store/reducers/helper.js",
        "messagesComponents": "./src/components/Widget/components/Conversation/components/Messages/components"
      }
    }]
  ]
}
