{
  "presets": [
    "es2015",
    "react" 
  ],
  "plugins": [
    "transform-class-properties",
    "transform-decorators-legacy",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "constants": "./src/constants.js",
        "assets": "./assets",
        "tests-mocks": "./mocks"
      }
    }]
  ]
}
