@import "common.scss";
@import "variables.scss";
@import "animation.scss";

.launcher {
  @include animation(0, 0.5s, slide-in);
  align-self: flex-end;
  background-color: $turqois-1;
  border: 0;
  border-radius: 50%;
  box-shadow: 0px 2px 10px 1px $grey-3;
  height: 60px;
  width: 60px;

  &:focus {
    outline: none;
  }
}

.open-launcher {
  @include animation(0, 0.5s, rotation-rl);
}

.close-launcher {
  width: 20px;
  @include animation(0, 0.5s, rotation-lr);
}

@media screen and (max-width: 800px){
  .launcher {
    @include launcher-fs;
  }

  .hide-sm {
    display: none;
  }
}
