@import 'common';
@import 'variables/colors';
@import 'animation';

.rcw-launcher {
  @include animation(0, 0.5s, slide-in);
  align-self: flex-end;
  background-color: $primary-color;
  border: 0;
  border-radius: 50%;
  box-shadow: 0px 2px 10px 1px $grey-3;
  height: 60px;
  margin-top: 10px;
  cursor: pointer;
  width: 60px;

  &:focus {
    outline: none;
  }
}

.rcw-open-launcher {
  display: inline !important;
  @include animation(0, 0.5s, rotation-rl);
}

.rcw-close-launcher {
  display: inline !important;
  width: 50px;
  @include animation(0, 0.5s, rotation-lr);
  text-shadow: #FC0 5px 3px 10px;
}
