@import "variables.scss";
@import "common.scss";

.message {
  margin: 10px;
  display: flex;

  .client {
    @include message-bubble($turqois-2);
    margin-left: auto;
  }

  .response {
    @include message-bubble($grey-2);
  }
}

.message {
  font-size: 14px;
}

.message-text {

  p {
    margin: 0;
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 10px;
}
