@import "animation.scss";
@import "common.scss";

.widget-container {
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 0 20px 20px 0;
  max-width: 370px;
  position: fixed;
  right: 0;
  z-index: 9999;

  &.full-screen {
    @include widget-container-fs;
  }
}

@media screen and (max-width: 800px) {
  .widget-container {
    @include widget-container-fs;
  }
}
