@import 'animation.scss';
@import 'common.scss';

.rcw-widget-container {
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 0 20px 20px 0;
  max-width: 370px;
  position: fixed;
  right: 0;
  z-index: 9999;
}

.rcw-opened {
  width: 90vw;
}

.rcw-full-screen {
  @include widget-container-fs;

  &.rcw-opened {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 800px) {
  .rcw-widget-container {
    @include widget-container-fs;

    &.rcw-opened {
      height: 100%;
    }
  }
}
