@import "variables.scss";

.sender {
  align-items: center;
  display: flex;
  background-color: $grey-2;
  height: 45px;
  padding: 5px;
  border-radius: 0 0 10px 10px;
}

.new-message {
  width: 100%;
  border: 0;
  background-color: $grey-2;
  height: 30px;
  padding-left: 15px;

  &:focus {
    outline: none;
  }
}

.send {
  background: $grey-2;
  border: 0;

  .send-icon {
    height: 25px;
  }
}

@media screen and (max-width: 500px)  {
  .sender {
    border-radius: 0;
    flex-shrink: 0;
  }
}
