@import "variables.scss";
@import "common.scss";

.messages-container {
  background-color: $white;
  height: 50vh;
  max-height: 410px;
  overflow-y: scroll;
  padding-top: 10px;
}

.full-screen {

  .messages-container {
    @include messages-container-fs;
  }
}

@media screen and (max-width: 800px)  {
  .messages-container {
    @include messages-container-fs;
  }
}
