@import "common.scss";
@import "variables.scss";
@import "animation.scss";

.conversation-container {
  @include animation(0, 0.5s, slide-in);
  width: 370px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 1px $grey-3;
}

.slide-out {
  @include animation(0, 0.5s, slide-out);
}

.full-screen {

  .conversation-container {
    @include conversation-container-fs;
  }
}

@media screen and (max-width: 800px) {
  .conversation-container {
    @include conversation-container-fs;
  }
}
