@import "../../../../sass/variables.scss";
@import "../../../../sass/animation.scss";

.conversation-container {
  @include animation(0, 0.5s, slide-in);
  border-radius: 10px;
  box-shadow: 0px 2px 10px 1px $grey-3;
}

.slide-out {
  @include animation(0, 0.5s, slide-out);
}
