@mixin message-bubble($color) {
  background-color: $color;
  border-radius: 10px;
  max-width: 215px;
  padding: 15px;
  text-align: left;
}

// Full screen mixins

@mixin widget-container-fs {
  height: 70%;
  max-width: none;
}

@mixin header-fs {
  border-radius: 0;
  flex-shrink: 0;
  position: relative;
}

@mixin title-fs {
  padding: 0 0 15px 0;
}

@mixin close-button-fs {
  background-color: $primary-color;
  border: 0;
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  cursor: pointer;
}

@mixin close-fs {
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 10px #FC0;
}

@mixin messages-container-fs {
  height: 100%;
  max-height: none;
}

@mixin conversation-container-fs {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@mixin launcher-fs {
  bottom: 0;
  margin: 20px;
  position: fixed;
  right: 0;
}
